html, body, canvas {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto Mono', monospace;
}
h1 {
	width: 100%;
	top: 80px;
	position: fixed;
	text-align: center;
	user-select: none;
}
code {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: white;
	min-width: 200px;
	min-height: 40px;
}
ul {
	position: fixed;
	list-style: none;
	top: 0;
	left: 0;
	z-index: 2;
	background: white;
	min-height: 40px;
}