html, body, canvas {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto Mono', monospace;
}
@keyframes blink {
    0% {background: rgba(255,105,180,0.8);}
    50% {background: transparent;}
    100% {background: rgba(255,105,180,0.8);}
}
h1 {
	width: 100%;
	top: 80px;
	position: fixed;
	text-align: center;
	user-select: none;
}
.center {
    top: 280px;
    position: fixed;
	width: 100%;
}
.options {
	display: none;
	background: black;
	color: white;
	margin: 0 auto;
	padding: 10px;
	width: 540px;
	user-select: none;
}
.option {
	padding: 0;
	margin: 0;
}
.active {
	background: white;
	color: black;
}
.cursor {
	padding: 0;
	animation: 1s blink step-end infinite;
}
code {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background: white;
	min-width: 200px;
	min-height: 40px;
}
.menu {
	position: fixed;
	list-style: none;
	top: 0;
	left: 0;
	z-index: 2;
	background: white;
	min-height: 40px;
}
ul {
	list-style: none;
}